[Desktop Entry]
Exec=start-lumina-desktop --unified
TryExec=lumina-desktop-unified
Icon=Lumina-DE
Type=Application
Name=LUminim 2
Comment=Optimized Lumina Desktop Environment
